.main-logo > img {
  height: 75px;
  max-height: 75px;
}

:root {
  --primary-orange: #f9ab00;
  --primary-white: #fff;
  --primary-dark: rgba(255, 255, 255, 0);
}

.main-nav {
  font-weight: 500;
}

.logo-text {
  color: white;
}

.nav-right {
  margin-right: 150px;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
